version: '3.4'

services:
  wetaxitask:
    container_name: wetaxitask_api_dev
    image: wetaxitask
    restart: always
    build: .
    env_file: ./.env
    ports:
      - ${PORT}:${PORT}
    volumes:
      - .:/usr/src/app
    links:
      - redis
      - monngodb

  monngodb:
    container_name: wetaxitask_mongodb
    image: mongo:latest
    restart: always
    ports:
      - ${DB_PORT}:${DB_PORT}
    volumes:
      - ./data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=wetaxitask

  redis:
    container_name: wetaxitask_redis
    image: redis:latest
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
